<div class=box>
    <div class="boxleft" >
        <div>
            <p class="menu" >Menu</p>
            <i class="fa-solid fa-bars" id="menuIcon"></i>
        </div>
        <div class="tasks" (click)="addTask()" style="margin-top:20px">
            + Add Task
        </div>
        <p class="task-p" >TASKS</p>

    </div>
    <p class="toadd" [ngClass]="{hideValue: hideValue}">Please add a task</p>
    <section class="container" [ngClass]="{hideValue: !hideValue}">
        <header>Add a Task</header>
        
        <form action="#" class="form">
          <div class="input-box">
            <label>Task Name</label>
            <input type="text" placeholder="Enter Task Name" required />
          </div>
          <div class="input-box">
            <label>SubTasks (if Available)</label>
            <input type="text" placeholder="Enter SubTask" r/>
          </div>
          <div class="column">
           
            <div class="input-box">
              <label>Task Date</label>
              <input type="date" placeholder="Enter birth date" required />
            </div>
          </div>
          <div class="priority-box">
            <h3>Priority</h3>
            <div class="priority-option">
              <div class="priority">
                <input type="radio" id="check-high" name="priority" checked />
                <label for="check-high">High</label>
              </div>
              <div class="priority">
                <input type="radio" id="check-normal" name="priority" />
                <label for="check-normal">Normal</label>
              </div>
              <div class="priority">
                <input type="radio" id="check-low" name="priority" />
                <label for="check-low">Low</label>
              </div>
            </div>
          </div>
          
          <button>Submit</button>
        </form>
      </section>


</div>